VITE_API_URL=http://localhost:8000/api

# Risk Profiling System (external)
VITE_RP_API_URL=https://risk-profiling.rbtbank.com/api/risk-profiling/v1
VITE_RP_EMAIL=augustincabanamaputol@gmail.com
VITE_RP_PASSWORD=@Success_101
